.trackHeader {
  margin-top: 80px;
}

.currTrackImg {
  border-radius: 10px;
  width: 40%;
}

.currTrackName {
  font-weight: bolder;
  font-size: 26px;
}

.currTrackDesc {
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 550px) {
  .currTrackImg {
    width:  70%;
  }
}

@media screen and (max-width: 410px) {
  .currTrackImg {
    width: 80%;
  }
  
  .currTrackName {
    font-size: 22px;
  }

  .currTrackDesc {
    font-size: 14px;
  }
}