

/* Hamburger icon */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;

}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

/* Navbar */
.navbar {
  position: absolute;
  top: 5%;
  right: 7%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  color: #fff;
}

.navbar li{
  border-radius: var(--br-31xl);
  padding: 15px;
  
}

.navbar.active {
  position: absolute;
  top: 80px;
  width: 100%;
  padding: 25px;
  
  background-color: #222;
  flex-direction: column;
  align-items: flex-start;

}

.navbar li {
  margin-left: 30px;
;
}
.navTitle {
  font-size: 36px;
  font-weight: bolder;
  color: var(--color-forestgreen);
  position: absolute;
  top: 5%;
  left: 4%;
}


@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .nav-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .hamburger {
    display: flex;
  }

  .navbar.active {
    left: 0;
    margin-top: 20%;
    display: flex;
  }

  .navbar li {
    margin: 10px 0;
  }

  .navTitle{
    position: absolute;
    right: 0;
    top: 25px;   
  }
}
