.navBar {
  margin-top: 1%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  z-index: 999;
  position: relative;
  height: 8vh;
}

.navTitle {
  display: flex;
  align-items: center;
}

.navTitle .link {
  font-size: 36px;
  font-weight: bolder;
  color: var(--color-forestgreen);
}

.navButtons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid yellow; */
}

.pageLinksdiv {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
}

.pageLinksdiv:hover {
  transform: scale(1.05);
  border-bottom: 2.5px solid var(--color-forestgreen);
}

.pageLinks {
  font-size: 18px;
  font-weight: bold;
  /* border: 1px solid green; */
}

.pageLinks:hover {
  color: white;
}

.hambugger-icon {
  display: none;
}

.navbar-dropdown {
  display: none;
}

.navButtons.show {
  border: 1px solid black;
  background-color: #404040;
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 105%;
  right: 0%;
}

.navButtons.show .pageLinksdiv {
  display: block;
  border: 1px solid black;
  padding: 5px 0;
  /* text-align: right; */
}






@media (max-width: 767px) {
  .navButtons {
    display: none;
  }

  .navButtons.show {
    width: 45%;
  }

  .hambugger-icon {
    /* border: 1px solid red; */
    display: flex;
    /* to center the icon*/
    align-items: center;
    padding: 0px 15px;
  }

  .hambugger-icon:hover {
    border-radius: 5%;
    background-color: var(--color-forestgreen);
  }
}

@media (max-width: 510px) {
  .navButtons.show {
    width: 55%
  }
}

@media (max-width: 424px) {
  .navButtons.show {
    width: 65%;
  }
}

@media (max-width: 350px) {
  .navButtons.show {
    width: 70%;
  }
}


.mainLogo{
  height : 65%;
  width : 65%;
  margin-top: 5px;
}