.recomTitle {
  margin-top: 120px;
}

.recomContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 80px;
}

.recomTile {
  width: 250px;
  height: 320px;
  margin: 0px 0px 50px 0px;
  border-radius: 10px;
  background-color: rgb(55, 58, 53);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.recomTile:hover {
  color: white;
}

.recomTile a {
  text-decoration: none;
  color: white;
}

.recomTile img {
  width: 100%;
  height: 78%;
  object-fit: cover;
}

.recomTile p {
  font-size: 16px;
  margin: 5px;
  font-weight: bold;

}

@media screen and (max-width: 768px) {
  .recomTile {
    width: 250px;
    height: 250px;
  }
}