.recomTitle {
  margin-top: 120px;
}

ul {
  margin-left: -40px;
}

.recomContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 80px;
}

.recomTile {
  width: 260px;
  height: 330px;
  margin: 0px 0px 50px 0px;
  border-radius: 10px;
  background-color: rgb(55, 58, 53);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.recomTile:hover {
  color: white;
}

.recomTile a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
}

.recomTile img {
  width: 100%;
  height: 60%;
}

.recomTile div {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
}

.recomTile p {
  color: white;
}

.recomTile p:nth-child(1) {
  font-size: 16px;
  margin: 5px;
  font-weight: bold;
  flex: 1;
}

.recomTile p:nth-child(2) {
  font-size: 14px;
  margin: 5px;
  font-weight: bold;
  flex: 1;
}



@media screen and (max-width: 768px) {
  .recomTile {
    width: 250px;
    height: 320px;
  }

  .recomTile img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  .recomTile p {
    font-size: 15px;
    margin: 5px;
    font-weight: bold;
  }
}