#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logInWith,
.musiconn {
  font-weight: 600;
  display: inline-block;
}

.musiconn {
  position: absolute;
  top: 5%;
  left: 4%;
  font-size: 36px;
  font-weight: bolder;
  color: var(--color-forestgreen);
  width: 243px;
}

.logInWith {
  position: relative;
  /* padding: 10px 15px; */
}

.logInWithSpotifyWrapper {
  position: absolute;
  top: 5%;
  right: 7%;
  border-radius: var(--br-31xl);
  background-color: var(--color-forestgreen);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--color-gray-100);
}

.logo {
  margin-top: 12em;
  height: 8em;
  padding: 1.3em;
  will-change: filter;
  transition: filter 300ms;
}

.landing-logo {
  margin-top: 7.4em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.tagline {
  font-size: 20px;
  font-weight: 600
}

.hometitle {
  margin-top: 0 !important;
}

.desc-container {
  font-size: 16px;
  width: 45vw;
  max-width: 550px;
  min-width: 280px;
  margin: 0 auto;
}

.desc {
  font-weight: 500;
  font-size: 18px;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin-top: 20px;
  padding: 2em;
}

.spotifyLogin:hover,
.logInWithSpotifyWrapper:hover {
  background-color: var(--color-forestgreen);
  filter: drop-shadow(0 0 2em #646cffaa);
}

.read-the-docs {
  color: #888;
}

@media screen and (max-width: 500px) {
  .recommendSongsWrapper {
    font-size: 14px;
  }

  .musiconn {
    font-size: 30px;
    left: -5%;
  }

  .trackHeader {
    font-size: 36px;
  }

  .logo {
    margin-top: 30%;
  }

  .landing-logo{
    margin-top: 15%;
  }

  .logInWithSpotifyWrapper {
    display: none;
  }

}